* {
    margin: 0;
    box-sizing: border-box;
    
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(199, 100%, 50%);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;

}

ul li {
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}


.hero-section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 40px;
    padding: 20px;
    gap: 10px;
}

.hero-info {

    gap: 20px;
}

img {
    height: 200px
}



